body {
    padding: 0;
    margin: 0;
}

ul {
    padding: 20px 0;
    display: flex; 
    justify-content: center;
    gap: 10px;
    background-color: brown;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    list-style: none;
    font-size: 18px;
    color: #fff;
}

.paragrafo {
    margin-top: 70px;
}

.icone {
    position: fixed;
    bottom: 30px;
    left: 30px;
}

.sticky {
    background-color: tomato;
    position: sticky;
    top: 61px;
}

.m-bottom {
    margin-bottom: 2000px;
}