p {
    width: 150px;
    padding: 30px;
    border: solid 2px black;

    
    margin: 30px auto 50px auto;

    /* margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 15px; */
}