/* div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */

.inline span {
    display: inline;
    background-color: aquamarine;
    border: solid 1px black;
    width: 200px;
    height: 500px;
    margin: 20px;
}